/*TIPO DE LETRA: */

@font-face {
    font-family: balsa;
    src: url(BalsamiqSans-Regular.ttf);
}

/*TODO EL PORTAFOLIO*/

*{
    font-family: balsa;
    margin: 0;
    padding: 0;
}

body{
    background-color: /*#911F27;*/#781D42;
}

/*BARRA DE NAVEGACION*/

.nav-link{
    color: #FCF0C8;
}

.nav-link:hover{
    color: #FACE7F;
}

.nav-link:focus{
    color: #f59758;
}

.btn{
    background-color: #a35f26;
    color: #fff;
    border-color: #a35f26;
}

/*TITULO PRINCIPAL*/

.nombre{
    margin: 10%;
    padding-top: 110px;
    padding-bottom: 110px;
    color:/*#FFD07F;*/ #F3EFCC;    
    justify-content: center;
    text-align: center;
}

.nombre .h1{
    font-size: 70px;
    padding-bottom:10px;
}

/*CONTENIDO GENERAL*/

.contenedor{
    width: 60%;
    min-width: 360px;
    background: /*#FCF0C8;*/ #F9E4D4;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 5px 25px 10px /*rgb(226, 243, 96);*/ rgba(243, 239, 204, 0.568);
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);

    grid-template-areas: "subtitulo1 subtitulo1"
                         "subcontenedor1 foto1"
                         "subtitulo2 subtitulo2"
                         "foto2 subcontenedor2"
                         "subtitulo3 subtitulo3"
                         "subcontenedor3 foto3"
                         "subtitulo4 subtitulo4"
                         "container container";
}


.subtitulo1{
    text-align: center;
    grid-area: subtitulo1;
    margin-top: 3%;
    margin-bottom: 3%;

}

.subcontenedor1{
    grid-area: subcontenedor1;
    text-align: right;
    margin-top: 20%;
    min-width: 100px;
}

.foto1{
    grid-area: foto1;
}


.subtitulo2{
    text-align: center;
    grid-area: subtitulo2;
    margin-top: 6%;
    margin-bottom: 3%;

}

.subcontenedor2{
    grid-area: subcontenedor2;
    text-align: left;
    margin-top: 20%;
}

.foto2{
    grid-area: foto2;
    align-items: right;
}


.subtitulo3{
    text-align: center;
    grid-area: subtitulo3;
    margin-top: 6%;
    margin-bottom: 3%;

}

.subcontenedor3{
    grid-area: subcontenedor3;
    text-align: right;
    margin-top: 20%;
}

.foto3{
    grid-area: foto3;
}

.subtitulo4{
    text-align: center;
    grid-area: subtitulo4;
    margin-top: 3%;
    margin-bottom: 3%;
}

.container{
    grid-area: container;
}


/*DISEÑO PARA LA FOTO A LA DERECHA:*/

.fotoo{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items:baseline;
    height: 60vh;
    margin-top: 5%;
}

.fotoo div{
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 36px;
    box-shadow: 0px 15px 25px;
    box-shadow: rgb(0,0,0,0.50);
}

.fotoo div img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    float: right;
}

.fotoo div .capa{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(120, 29, 66,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.fotoo  div:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.fotoo div:hover > .capa h3{
    margin-top: 170px;
    margin-bottom:15px;
}

.fotoo div .capa h3{
    color:white;
    font-weight: 600;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top:30px;
}

/*DISEÑO PARA LA FOTO A LA IZQUIERDA:*/

.foto{
    width: 90%;
    display: flex;
    align-items:baseline;
    height: 60vh;
    margin-top: 5%;
    margin-left: 15%;
}

.foto div{
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 36px;
    box-shadow: 0px 15px 25px;
    box-shadow: rgb(0,0,0,0.50);
}

.foto div img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    float: right;
}

.foto div .capa{
    position: absolute;
    width: 100%;
    height: 100%;
    background: /*rgb(99, 10, 16,0.7);*/ rgb(120, 29, 66,0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.foto  div:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.foto div:hover > .capa h3{
    margin-top: 170px;
    margin-bottom:15px;
}

.foto div .capa h3{
    color:white;
    font-weight: 600;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top:30px;
}


.logros{
    margin: 5%;
    margin-left:80px;
}

.logros p{
    color: rgb(44, 44, 44);
}

.contacto{
    padding-bottom: 50px;
}

.container{
    width: 90%;
    padding-right: var(--bs-gutter-x,4.75rem);
    padding-left: var(--bs-gutter-x,4.75rem);

}

.form-group{
    margin: 15px;
}

input,
textarea{
    background-color: #F3EFCC;
}

button{
    background-color: #9D5353;
}



/*******************************************************************************/
/*                                 SOBREMI.HTML                                */

.titulo{
    text-align: center;
    align-items: justify;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #F3EFCC;
}

.contenedor-b{
    width: 60%;
    min-width: 360px;
    background: /*#FCF0C8;*/ #F9E4D4;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 1px 5px 25px 10px /*rgb(226, 243, 96);*/ rgba(243, 239, 204, 0.568);
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contenedor-c{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

ul{
    padding-left: 5%;
    padding-right: 5%;
}

li{
    text-align: justify;
}


/*******************************************************************************/
/*                                 LOGROS.HTML                                 */

.center .h6{
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
}


/*******************************************************************************/
/*                                 PROYECTOS.HTML                              */


.galerias{
    width: 60%;
}

center > h5{
    color: #F3EFCC
}


@media screen and (max-width: 1200px){

    .nombre .h1{
        font-size: 40px;
    }

    .contenedor{
        grid-template-areas: "subtitulo1 subtitulo1"
                             "foto1 foto1"
                             "subcontenedor1 subcontenedor1"
                             "subtitulo2 subtitulo2"
                             "foto2 foto2"
                             "subcontenedor2 subcontenedor2"
                             "subtitulo3 subtitulo3"
                             "foto3 foto3"
                             "subcontenedor3 subcontenedor3"
                             "subtitulo4 subtitulo4"
                             "container container";
        
        margin-top: 0;
        padding-top: 0;
        
    }

    .subcontenedor1,
    .subcontenedor2,
    .subcontenedor3{
        margin-top: 0;
        text-align: center;
        margin-top: -100px;
        margin-bottom: 30px;
    }

    .fotoo{
        justify-content: center;    
    
    }
    .foto{
        margin-left: 2%;
        justify-content: center;    
    }

    input,
    textarea{
        min-width: 300px;
        justify-content: center;    

    }

}
